.intro{
    text-align: center;
    font-weight: 600;
    line-height: 44px;
    font-size: 28px;
    padding: 15px;
}
.search{
    margin: auto;
    width: 65%;
    height: 71px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inputico{
    padding-right: 30px;
    margin: 5px;
    height: 51px;
    width: 220px;
    outline: none;
}
.search input{
    width: 210px;
    height: 51px;
    border-radius: 16px;
    color: aliceblue;
}
